<?php
/**
 * Configuration for Remote Tail
 *
 * @author Timandes White <timands@gmail.com>
 * @package remotetail/remotetail
 * @license http://www.apache.org/licenses/LICENSE-2.0
 */

/** @var int Port number */
$config['listen_port'] = 8080;

/** @var array White List of Paths */
$config['path_white_list'] = array(
        '/var/log',
    );

/** @var string Path of PID file */
$config['pid_file'] = '/var/run/remotetail.pid';

/** @var string Path of file to store lines to stdout & stderr */
$config['stdout_file'] = '/var/log/remotetail.err';

/** @var string Path of Log file */
$config['log_file'] = '/var/log/remotetail.log';
